{% load static %}
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
		crossorigin="anonymous">
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="{% static 'kotobjy/style/style.css' %}" />
		{% block head%}
		<title> BASE</title>
		{% endblock %}
	</head>
	
	<body background={% static 'kotobjy/pic/background.jpg' %}>
		<nav class="navbar navbar-expand-md navbar-dark bg-dark">
			<a class="navbar-brand" href="{% url 'kotobjy:index' %}">Kotobjy</a>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="{% url 'kotobjy:userHome' %}">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Authors</a>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled" href="{% url 'kotobjy:users' %}">Users</a>
					</li>
				</ul>

				<form class="form-inline mt-2 mt-md-0 " action="{% url 'kotobjy:searchBook' %}" method="POST">
					{% csrf_token %}
					{{ searchform.as_p }}
					<button class="btn btn-outline-success" type="submit">Search</button>
				</form>

				<ul class="navbar-nav">
					{% if not request.user.is_authenticated%}
						<li class="nav-item">
							<a class="nav-link pull-right" href="{% url 'kotobjy:login' %}">Login</a>
						</li>
						<li class="nav-item">
							<a class="nav-link pull-right" href="{% url 'kotobjy:register' %}">Register</a>
						</li>
					{% else %}
						<li class="nav-item">
							<a class="nav-link pull-right" href="{% url 'kotobjy:logout' %}">Logout</a>
						</li>
					{% endif%}
				</ul>
			</div>
		</nav>

		<section id="box-con" class="container">
				{% block body %}

				{% endblock %}
		</section>

		<footer class="footer bg-dark" >
				Copyright &copy; 2018 Rights Reserved To IoT team
		</footer>
		
	</body>
</html>