li a {
    color: blue ;
}

body{
    background-size: cover;    
    color: white;
    position: relative; 
    padding-bottom: 6rem;
}

.footer{
    background: #333;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

#box-con{
    padding: 10px;
    background-color:rgba(0, 0, 0, 0.8)
}