li a {
    color: blue ;
}

nav {
    max-height: 50px;
}

body{
    background-size: cover;    
    color: white;
    position: relative;
    padding-bottom: 6rem;
    min-height: 100%;
}

button {
    margin-top: 10px;
}

.mySearchForm {
    margin-top: 30px;
}

.footer{
    background: #333;
    text-align: center;
    padding: 10 0;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

#box-con{
    margin-top: 10px;
    padding: 10px;
    background-color:rgba(0, 0, 0, 0.8)
}

.center{
    text-align: center;
}

td,th{
    padding: 30px;
}
  
td{
    text-align: center
}

.rw {
    margin: 100px;
    padding: 30px 30px 30px 30px;
}

.newform{
}

.intro{
    font-size: 30px;
    text-align: left;
    font-family: "Times New Roman", Times, serif;
}

.size{
    font-size: 30px;
}

.homeimg{
    margin: 20px
}