{% extends 'base.html'%}
% load static %}

      {% block head%}
            <title> Author Detail</title>
      {% endblock %}



      {% block body %}
      <br>
      <br><br>
      <div class="container">
            <h1>Book Info</h1>
            <p>Book Title: {{ author.name }}</p>
            <p> Category: {{ author.bio }}</p>
            

            <img src="{% static 'Kotobjy/pic/' %}{{author.pic}}"  width="240">

            <!-- <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" /> -->
      </div>

      {% endblock %}
