{% extends 'base.html'%}
{% load static %}

      {% block head%}

      {% endblock %}



      {% block body %}
       {% for book in book_list %}

       <div class="list">

            <a ng-repeat="item in items"  href="{% url 'bookDetail' book.id %} "class="item item-thumbnail-left">

                  <img src="{% static 'Kotobjy/pic/' %}{{book.pic}}"  width="240">
                  <h3>Book Title: {{ book.title }}</h3>

            </a>
            <p>Book Title: {{ book.pub_date  }}</p>

      </div>

             <!-- <a href="{% url 'book_detail' book.id %}">

            </a> -->

       {% endfor %}
      {% endblock %}
