{% extends 'base.html'%}
{% load static %}

{% block head%}
      <title> Book Detail</title>
{% endblock %}

{% block body %}
<br>
<br><br>

	<h1>Book Info</h1>
	<p>Book Title: {{ book.title }}</p>
	<p>book Author:
	{% if flag %}
		<a href="{% url 'kotobjy:authorDetail' author.id %}" >
			{{ author.name }}
		</a>	
	{% else %}
		Authuor not known
	{% endif %}
	</p>

	<img src="{% static 'kotobjy/pic/' %}/{{ book.pic }}" alt="logo" width="240"/> 
	<p> Category: {{ book.category }}</p>
	<p>Published: {{ book.pub_date }} </p>
	<p>Describtion: {{ book.describtion }} </p>

	<form class="form-inline mt-2 mt-md-0 " action="" method="POST">
		{% csrf_token %}
		<button class="btn btn-outline-success" name="read" value="{{ true }}" type="submit">Read</button>
		<button class="btn btn-outline-success" name="Favourite" value="{{ true }}" type="submit">Favourite</button>
	</form>


{% endblock %}
