{% extends 'base.html' %}
{% load static %}

{% block head%}
    <title> Index</title>
{% endblock %}

{% block body %}
<div class="center">
    <img src="{% static 'kotobjy/pic/logo.png' %}" alt="logo" width="200" height="150"/>
    <h1>KOTOBJY</h1>
    <br/>
    <h3>What we deliver?</h3>
    <p class="intro">
        We have hundereds of books in our website. You can follow different authors, rate your best books and search for you favourite ones.<br>
        Log in now to see more and browse.<br/>
        <center> <p class="size">Enjoy :D<br/><br/></p></center>
    </p>

    <img class="homeimg" src="{% static 'kotobjy/pic/Boneshaker.jpg' %}" alt="logo" width="240" height="400"/>
    <img class="homeimg" src="{% static 'kotobjy/pic/KiteRunner.jpg' %}" alt="logo" width="240" height="400"/>
    <img class="homeimg" src="{% static 'kotobjy/pic/MountainsPreview.jpg' %}" alt="logo" width="240" height="400"/>
</div>
{% endblock %}